body{
    font-family: 'Roboto', sans-serif !important;
}
.homepage{
    height: 600px !important;
}

.loginpage{
    height: 500px !important;
}
.recoverypage{
    height: 400px !important;
}

.homepage > div, .loginpage > div, .recoverypage > div{
    text-align: center !important;
}
.homepage > div > h1 {
    padding: 10px;
}
.message-error{
    color: red !important;
}
.breadcrumb{
    background-color: #D2DEFC !important; 
}

.btn-primary{
    background-color: #122859 !important;
    border-color: #122859 !important;
}
thead{
    background-color: #122859;
    color: white;
}
.user_now{
    font-size: 11px !important;
    margin-left: 10px;
}
.panel_coti{
/*    border-right: 1px solid hsla(200, 10%, 50%,100) !important;
    border-color: #e2dfdf;*/
background-color: #e7f4fd;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 10px;
    margin: 5px;
    border-radius: 5px;
}
.modal-title{
    text-align: center !important;
}
.proveedores{
    text-align: center;
}
.proveedores_padre{
    padding-bottom: 30px;
}
.proveedores_padre:hover{
    background: rgba(0,0,0,0.1);
}

.link_panel_busqueda{
    float: right !important;
}
.page-header {
    margin-top: 10px !important;
    font-size: 2em;
}

/* breadcrum CAMBIO*/
ol.breadcrumb{
}
#page-wrapper{
    padding-top: 20px !important;
}

.thfooter{
     text-align: right;
}