
/*personalizacion de menu*/
.navbar-static-top {
    background-color: #122859;
    border-color: blue  !important;
    color: white;
}

.nav>li>a:focus, .nav>li>a:hover, .sidebar ul li a.active:hover{
    text-decoration: none;
    background-color: #2c5ecd;
    color: white;
}
.navbar-default .navbar-brand {
    color: #fff;
}

/*menu*/
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #337ab7 !important;
    border-color: #337ab7;
    color: #f8f8f8;
}
.navbar-right > li > a, .navbar-default .navbar-brand:hover{
    color: #f8f8f8 !important; 
}
.navbar-default .navbar-toggle .icon-bar{
    background-color: #f8f8f8 !important;
}
button.navbar-toggle:hover {
    background-color: rgba(0,0,0,0.5) !important;
}
button.navbar-toggle{
    background-color: #122859 !important;
}